<template>
  <div class="main">
    <button class="btn btn-outline-primary btn-lg btn-block">Default</button>
    <button class="btn btn-outline-secondary btn-lg btn-block">Default</button>
    <button class="btn btn-outline-success btn-lg btn-block">Success</button>
  </div>
</template>
